:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

table {
  border: 1px black solid;
  width: 100vw;
}

th {
  border: 1px black solid;
}

tr {
  border: 1px black solid;
}

td {
  border: 1px black solid;
}

.pag-buttons {
  display: flex;
  justify-content: center;
}
